<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 class="mb-3"> درباره‌ شریف‌لاین </h5>
                <p>پلتفرم نظرسنجی اختصاصی دانشگاه صنعتی شریف برای جمع‌آوری و تحلیل بازخوردهای ساختاریافته</p>
            </div>
            <div class="col-md-4">
                <h5 class="mb-3">لینک‌های سریع</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}" class="text-white">صفحه‌ی اصلی</a></li>
                    <li><a href="{% url 'faq' %}" class="text-white">سوالات متداول</a></li>
                    <li><a href="{% url 'about' %}" class="text-white">درباره ما</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="mb-3">تماس با ما</h5>
                <ul class="list-unstyled">
                    <li><i class="fa fa-envelope me-2"></i> info@sharifline.sharif.edu</li>
                    <li><i class="fa fa-phone me-2"></i> ۰۲۱-۶۶۱۶۶۱۶۶</li>
                </ul>
            </div>
        </div>
        <hr class="my-4">
        <div class="text-center">
            <p class="mb-0">تمامی حقوق برای دانشگاه صنعتی شریف محفوظ است © ۱۴۰۴</p>
        </div>
    </div>
</footer>